body {
    /* 212529 */
  background: #1c1f21;
  color: rgb(0, 220, 44);
}

.row {
  justify-content: center;
  /* margin-top: inherit; */
}

.containeradd {

  margin-left: 30px;
  margin-right: 30px;


}
.grid3 {
  display: flex;
  justify-content: flex-end;
}

.button2 {
  display: flex;
  justify-content: flex-end;
}
.bgstatus {
  font-size: medium;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 255, 13, 0.879);
}

.bgsuccess {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 255, 13);
  height: 39px;
  width: 75px;
  display: flex;
}
.bgsuccess:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 255, 255, 0.879);
  height: 39px;
  width: 75px;
  display: flex;
  /* box-shadow: #04ff00; */

  filter: drop-shadow(0 0 2em #646cffaa);
}

.cancel {
  display: flex;
  justify-content: start;
}
.editme {
  display: flex;
  justify-content: start;
}
h6 {
  color: rgb(255, 0, 0);
  padding-right: 5px;
  margin-bottom: 4px;
}

.back {
  margin-left: 66px;
  background-color: rgb(255, 0, 0);
  height: 40px;
  width: 100px;
}
.backadd {
  background-color: rgb(255, 0, 0);
  height: 40px;
  width: 75px;
}
.backadd:hover {
  filter: drop-shadow(0 0 10px #ff0000);
  background-color: rgb(255, 0, 0);

}

.h3add {
  
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
  color: #6de60f ;
  filter: drop-shadow(0 0 2px #23a256);
}
.zipcodeaad{
background-color: rgb(0, 0, 0);
}

.Inputadd{
  background-color: rgb(211, 211, 211);
  color: rgb(40, 40, 40);
  width:290px;
  height: 38px;
  border-radius: 6px;
  /* filter: drop-shadow(0 0 0.25em #ffffffaa); */
  margin-bottom: 15px;
  padding-left: 10px;
}
.InputZip{
  background-color: rgb(211, 211, 211);
  color: rgb(40, 40, 40);
  width:215px;
  height: 38px;
  border-radius: 6px;
  /* filter: drop-shadow(0 0 0.25em #ffffffaa); */
  margin-bottom: 15px;
  padding-left: 10px;
}

.fromadd{
  margin-bottom: 10px;
}

.col{
  flex: 1 0 0%;
  display: grid;
  align-items: center;
}
.col2{
  flex: 1 0 0%;
  display: flex;
  align-items: center;
}